.error_message {
    color:red;
    font-family:Tahoma, Arial;
    font-size:0.6em;
}

html, body {
    width:100%;
    height:100%;
}

/* home */

#home {
    display:block;
    width:100%;
    height:100%;
    background: #222222 url("#{resource['img/motivator.jpg']}") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* ie */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="#{resource['img/motivator.jpg']}", sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{resource['img/motivator.jpg']}', sizingMethod='scale')";
}

#home .calendar {
    position:absolute;
    left:50%;
    margin-left:-200px;
    width:400px;
    height:300px;
}

#home .infos {
    position:absolute;
    width:400px;
    height:auto;
    top:400px;
    left:50%;
    margin-left:-200px;
    text-align:center;
}

.home-footer {
    display:block;
    float:left;
    background-color:#333333;
    width:100%;
}

.home-footer .title {
    color:white;
    font-weight:bold;
    font-size:1.3em;
    margin-top: 10px;
    margin-bottom:0px;
}

.home-footer hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.home-footer a {
    color:#f9504a;
}

/* / home */

/* login */
#login_panel {
    position:absolute;
    width:300px;
    height:200px;
    margin-left:-150px;
    margin-top:-100px;
    left:50%;
    top:40%;
}

#login_panel .input-group {
    margin-top:10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right:5px;
}
/* / login */

/* header */
.datemine-brand {
    width:100px;
    height:75px;
    margin-top:-26px;
}
/* / header */